.title {
    font-size: 2.4rem;
    padding: 2.5rem 0 0 0;
    color: #fff;
}

.productos{
    padding: 5rem 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem 1rem;
    box-sizing: border-box;

}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
    border: 6px solid transparent;
    border-radius: 5px;
}

.producto:hover{
    border: 6px solid #bbbbbb;
}

.producto_img img{
    width: 310px;
}

.producto_footer{
    padding: 1rem;
}

.producto_footer h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    font-family: Helvetica, sans-serif;
}

.producto_footer p {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.producto_footer .price{
    font-size: 2rem;
    color: #bbbbbb;
}

.producto .buttom{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 2rem;
}

.buttom .btn{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}

.buttom button{
    background-color: purple;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.buttom div{
    background-color: purple;
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: -1rem;
    border-radius: 5px;
}

.buttom div a{
    color: white;
    font-weight: 700;
}
.buttom div a:hover{
    color: white;
}


.item {
  transition: transform 0.5s, background-color 0.5s;
  opacity: 1;
}

.item.expanded {
  transform: rotateY(180deg);
  background-color: white; 
}

.item.expanded #figure img {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
.item button {
    transition: transform 0.5s;
  }
  
.item.expanded button {
    transform: rotateY(-180deg);
}

