
nav{
  background-color: rgb(0, 0, 0);
  padding-top: 20px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
}

.nav-link {
  display: inline-block;
  padding-right: 80px; /* Maintain padding on the right */
}

/* Style the icon image */
.nav-link img {
  max-width: 80px; /* Set a maximum width for scaling */
  height: auto; 
}

.nav-inicio{
  position: relative;
  margin-right: 20px;
  top: 30px;
}
.nav-catalogo{
  position: relative;
  margin-right: 20px;
  top: 30px;
}
.nav-miperfil{
  position: relative;
  margin-right: 20px;
  top: 30px;
}

.container-icon{
  margin-top: -10px;
  margin-right: 15px;
  top: 29px;
}

.barraBusqueda {
  display: flex;
  align-items: center;
}

/* Style the search input */
.barraBusqueda input[type="text"] {
  flex-grow: 1;
  width: 300px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  padding: 5px; /* Adjust padding as needed */
  border: 1px solid #080707;
}

/* Style the search button */
.barraBusqueda button {
  padding: 5px 10px; /* Adjust padding as needed */
  height: 30px; /* Adjust height as needed */
  border: 1px solid #ccc;
  cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Cambia el diseño a flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Color del texto */
  }
  
  nav input[type="text"] {
    /* barra de busqueda*/
    padding: 5px;
    padding-right: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  nav button {
    padding: 5px 10px;
    background-color: #212c36;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 70px;
  }
  
  nav button:hover {
    background-color: #548bf3;
  }

  nav ul li a:hover{
    background-color: gray;
    border-radius: 7px;
  }

  .login-singnup{
    margin-top: 25px;
  }

  .login-icon{
    display: flex; 
    width: 78px; 
    margin-left: 57px;
    margin-bottom: 20px;
    cursor: pointer; 
  }

  .singnup-icon{
    display: flex; 
    width: 107px; 
    margin-left: 160px;
    margin-top: -50px;
    cursor: pointer; 
  }
