.hero {
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  width: 50%;
  float: left;
  margin-right: 20px;
  padding: 20px;
}

h2{
  font-size: 3em;
}
.hero-personalizacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px;
}

.hero-personalizacion button{
  padding: 5px 10px;
  margin: 30px;
  background-color: #383838;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none; /*quita bordes boton*/
}

.hero-personalizacion button:hover{
  background-color: gray;
}

.content {
  padding-left: 100px;
  padding-top: 50px;
}

.img-content img {
  padding-top: 50px; /* Maintain padding-top */
  height: auto; 
  max-width: 600px; 
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.services {
  color: #fff;
}


.services h2{
  text-align: center;
  margin-bottom: 20px;
}

.services ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.services {
  margin: 0;
  padding: 0;
}

.services ul {
  flex-direction: row; /* Arrange items in a row (optional) */
}

.services li{
  margin: 0 10px 20px;
  width: calc(33.33% - 20px); 
  text-align: center;
  list-style: none;
}

.services img{
  width: 77%;
  border: none;
  border-radius: 50%;
  max-height: 250px;
}

.services button{
  border: none;
  width: 100%;
  background: none;
}

button:hover {
  opacity: 50%;
}


ul {
  display: flex;
  flex-direction: row;
}

.OPTIONS {
  margin-bottom: 200px; 
  text-align: center;
}

.OPTIONS h2{
  margin-bottom: 20px;
  color: #fff;
}

.OPTIONS .options-header {
  display: flex;
  justify-content: center; 
  margin-bottom: 40px; 
}

.OPTIONS ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.OPTIONS li button img {
  width: 95%; 
  height: auto;
}

.about {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  align-items: center;
  margin: 20px;
  text-align: center; 
}

.about h2 {
  grid-column: span 2; 
  margin-bottom: 20px;
  text-align: center;
  color: #fff; 
}

.about p:first-of-type { 
  grid-column: span 2; 
  margin-bottom: 40px; 
  text-align: center; 
}

.about ul {
  display: grid; /* Enable Grid layout for the list */
  grid-template-columns: repeat(2, 1fr); /* Divide into 2 columns */
  gap: 25px; /* Add spacing between columns */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically within the grid */
}

.about-box {
  flex: 1 0 auto; /* Allow each box to flex and grow */
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center; /* Center text within each box */
  justify-content: center;
}

.about-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.about-box p {
  line-height: 1.6;
}
